* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  overflow: hidden;

  font-family: "Poppins", sans-serif;
  font-weight: 400;

  --action-bg: rgb(224, 224, 224);
  --action-alt-bg: rgb(195, 199, 202);
  --primary: rgb(34, 34, 34);
  --inv-primary: rgb(245, 245, 245);
  --form-bg: #c6c8ca;
  --form-shadow: rgba(0, 0, 0, 0.2);

  color: var(--primary);
  background-color: var(--inv-primary);
}

body.dark-mode {
  --action-bg: rgb(224, 224, 224);
  --action-alt-bg: rgb(195, 199, 202);
  --primary: rgb(219, 219, 219);
  --inv-primary: rgb(34, 34, 34);
  --form-bg: #c6c8ca;
  --form-shadow: rgba(255, 255, 255, 0.2);
}

button {
  cursor: pointer;
}

header {
  grid-row: 1 / 2;
  margin-bottom: 1rem;
}

main {
  grid-row: 2 / 3;
  overflow: auto;
}

footer {
  width: 100vw;
  grid-row: 3 / 4;
  margin-top: 1rem;
}

header {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.info-container {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--primary);

  color: inherit;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

a:hover {
  padding: 2px 3px;
  border-radius: 3px;
  background: var(--primary);
  color: var(--inv-primary);
}

.subtle-link {
  border-bottom: none;
}

.subtle-link:hover {
  padding: 3px 5px;
}

.normal-btn {
  background: var(--inv-primary);
  color: var(--primary);
  border: none;
  outline: none;
  font-size: 1.35rem;
}

.actions-container {
  margin: 0 auto;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.action-btn {
  background-color: var(--action-bg);
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  position: relative;
}

.action-btn:hover,
.action-btn:focus,
.action-btn:active {
  background-color: var(--action-alt-bg);
}

.action-btn i {
  font-size: 1.2rem;
}

main {
  display: grid;
  place-items: center;
}

.text-main {
  max-width: 700px;
  place-self: start auto;
  padding: 0 3rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}

article {
  margin-bottom: 1.5rem;
}

ul {
  list-style: disc inside none;
  line-height: 2;
}

code {
  background-color: var(--primary);
  color: var(--inv-primary);
  border-radius: 3px;
  padding: 2.5px;
}

@media all and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .actions-container {
    gap: 0.5rem;
  }

  .action-btn {
    width: 2.5rem;
    height: 2.5rem;
  }

  .actions-container i {
    font-size: 1rem;
  }
}

canvas {
  border: 2px solid var(--primary);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.footer-actions-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.madeby {
  text-align: center;
  font-size: 0.9rem;
}

.madeby a,
.madeby a:link,
.madeby a:visited,
.madeby a:hover,
.madeby a:active {
  font-weight: bold;
}

.footer-btns {
  display: flex;
  gap: 1rem;
}

.settings-container {
  position: relative;
}

.settings-forms {
  width: 14rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--form-bg);
  color: black;
  border-radius: 5px;
  box-shadow: 0px 2px 6px 0px var(--form-shadow);
  display: none;
}

.dims-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.dims-form input {
  width: 3rem;
}

.dims-form button {
  display: none;
}

.input-containers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stroke-anchor-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
}

.stroke-anchor-settings button {
  width: 1rem;
  height: 1rem;
}

#clip-path-code {
  max-width: 100%;
  font-family: monospace;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 1.5rem;
}
