* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  overflow: hidden;

  --action-bg: #ebebeb;
  --action-alt-bg: #c6c8ca;
  --primary: black;
  --inv-primary: white;
  --form-bg: #c6c8ca;
  --form-shadow: rgba(0, 0, 0, 0.2);

  color: var(--primary);
  background-color: var(--inv-primary);
}

body.dark-mode {
  --action-bg: #ebebeb;
  --action-alt-bg: #c6c8ca;
  --primary: white;
  --inv-primary: black;
  --form-bg: #c6c8ca;
  --form-shadow: rgba(255, 255, 255, 0.2);

  color: var(--primary);
  background-color: var(--inv-primary);
}

header {
  grid-row: 1 / 2;
  position: fixed;
  top: 0;
  margin-bottom: 1rem;
}

main {
  grid-row: 2 / 3;
  overflow: auto;
}

footer {
  grid-row: 3 / 4;
  position: fixed;
  bottom: 0;
  margin-top: 1rem;
}

header {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

h1 {
  font-family: Roboto Slab, sans-serif;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 1rem;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--primary);
}

a:hover,
a:active {
  text-decoration: underline;
}

.link i {
  display: none;
}

.info-btns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#dark-light-btn {
  background: var(--inv-primary);
  color: var(--primary);
  border: none;
  outline: none;
  font-size: 1.35rem;
}

@media all and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .link i {
    display: block;
    font-size: 1.35rem;
  }

  .link span {
    display: none;
  }
}

.actions-container {
  margin: 0 auto;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.action-btn {
  background-color: var(--action-bg);
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  position: relative;
}

.action-btn:hover,
.action-btn:focus,
.action-btn:active {
  background-color: var(--action-alt-bg);
}

.action-btn i {
  font-size: 1.2rem;
}

@media all and (max-width: 480px) {
  .actions-container {
    gap: 0.5rem;
  }

  .action-btn {
    width: 2.5rem;
    height: 2.5rem;
  }

  #copy-code-btn {
    width: 2.5rem;
    height: 2.5rem;
  }

  .actions-container i {
    font-size: 1rem;
  }
}

main {
  display: grid;
  place-items: center;
}

canvas {
  border: 2px solid var(--primary);
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.footer-btns {
  display: flex;
  gap: 1rem;
}

.settings-container {
  position: relative;
}

.settings-forms {
  opacity: 0;
  width: 14rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--form-bg);
  color: black;
  border-radius: 5px;
  box-shadow: 0px 2px 6px 0px var(--form-shadow);
}

.dims-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.dims-form input {
  width: 3rem;
}

.dims-form button {
  display: none;
}

.input-containers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stroke-anchor-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
}

.stroke-anchor-settings button {
  width: 1rem;
  height: 1rem;
}

#clip-path-code {
  max-width: 100%;
  font-family: monospace;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 1.5rem;
}
