<div class="madeby">
    Made by <a class="subtle-link" href="https://twitter.com/27upon2">Bharath</a> | <a class="subtle-link"
        href="/about">About</a> | <a class="subtle-link" href="https://github.com/13point5/Clip-Draw">Github</a>
</div>