<nav class="info-container">
    <a href='/' class='subtle-link'>
        <h1>Clip Draw</h1>
    </a>

    <button id="dark-light-btn" class="normal-btn">
        <i class="fas fa-sun"></i>
    </button>
</nav>